@import "tailwindcss";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

h2 {
  @apply font-secondary text-3xl font-medium;
}
:root {
  --primary: #232e4c;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}
