@import "tailwindcss";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

h2 {
  @apply font-secondary text-3xl font-medium;
}
:root {
  --primary: #232e4c;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

@utility notification {
  @apply flex flex-row items-center rounded-xl px-4 py-3;
}
.NotiSuccess {
  @apply notification bg-green-600 text-white;
}
.NotiWarning {
  @apply notification bg-yellow-500 text-white;
}
.NotiFailure {
  @apply notification bg-red-600 text-white;
}
