@import "tailwindcss";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}
:root {
  --primary: #232e4c;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

.mont {
  font-family: var(--font-secondary);
}
