---
import Layout from '../layouts/Layout.astro';
import Accordion from '../components/Accordion.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <section class="h-fit bg-(--primary) text-(--secondary) py-16 sm:px-16 px-8 flex flex-row items-center justify-between">
      <div class="xl:w-[600px] lg:w-[480px] space-y-8">
        <div class="xl:w-[540px] lg:w-[440px] space-y-8">
          <h1 class="lg:text-4xl lg:leading-11 sm:text-3xl text-2xl font-(--font-secondary)">
            <span class="font-bold">Fortune Lead Co.</span> <br>
            A leading consultancy and training firm passionate about enhancing workplace performance.
          </h1>
          <p>At Fortune Lead, we believe empowered people build stronger organizations.</p
        </div>
        <form action="" class="w-full flex flex-col sm:flex-row space-y-3 sm:space-x-4">
          <input type="email" placeholder="Enter your best email" class="bg-white text-black px-4 py-3 w-full">
          <button class="bg-(--secondary) text-white px-4 py-3 w-full sm:w-fit text-nowrap">Get Started</button>
        </form>
      </div>
    </section>
    <section class="text-black sm:p-16 p-8 space-y-4 w-screen">
      <h2 class="text-2xl">Our Approach</h2>
      <div class="h-full flex flex-col lg:flex-row items-center justify-start w-full space-y-8">
        <p class="xl:text-4xl text-3xl w-full flex-1 lg:w-1/4">The Growth <br> Catalyst Formula</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 gap-y-12 w-full flex-2">
          <div class="xl:w-[400px] md:w-[310px]">
            <h3 class="text-2xl font-medium">We Listen First</h3>
            <p>Every organization is unique, so we take time to understand your needs and tailor solutions that truly fit.</p>
          </div>
          <div class="xl:w-[400px] md:w-[310px]">
            <h3 class="text-2xl font-medium">We Deliver What Matters</h3>
            <p>From real-world tools to fresh ideas, we focus on impact, not just ticking boxes.</p>
          </div>
          <div class="xl:w-[400px] md:w-[310px]">
            <h3 class="text-2xl font-medium">We Walk the Journey with You</h3>
            <p>Our team is skilled, passionate, flexible, and committed to seeing you succeed.</p>
          </div>
          <div class="xl:w-[400px] md:w-[310px]">
            <h3 class="text-2xl font-medium">We are committed to excellence</h3>
            <p>From planning to execution, we uphold high standards in everything we do</p>
          </div>
        </div>
      </div>
    </section>
    <section class="sm:p-16 p-8 space-y-8 w-screen">
      <h2 class="text-2xl">Our Services</h2>
      <div>
        <Accordion acc_id="1" active=true title="Leadership development">
          <div class="text-left md:w-3/4">
            <p class="">We empower individuals and teams through dynamic,
              results-driven programs that shape transformative leaders.
              Our focus areas include:
            </p>
            <ul class="px-8 list-disc">
              <li>Self-Leadership</li> 
              <li>Team Effectiveness</li>
              <li>Strategic Alignment</li>
              <li>Effective Execution</li>
            </ul>
          </div>
        </Accordion>
        <Accordion acc_id="1" active=false title="Human Resource Consulting">
          <div class="text-left md:w-3/4">
            <p class=""> We cultivate a safety-first culture through expert training, policy support, and compliance guidance. </p>
            <ul class="px-8 list-disc">
              <li>Self-Leadership</li> 
              <li>Team Effectiveness</li>
              <li>Strategic Alignment</li>
              <li>Effective Execution</li>
            </ul>
          </div>
        </Accordion>
        <Accordion acc_id="1" active=false title="Workplace Health and Safety">
          <div class="text-left md:w-3/4">
            <p class="">We empower individuals and teams through dynamic,
              results-driven programs that shape transformative leaders.
              Our focus areas include:
            </p>
            <ul class="px-8 list-disc">
              <li>Self-Leadership</li> 
              <li>Team Effectiveness</li>
              <li>Strategic Alignment</li>
              <li>Effective Execution</li>
            </ul>
          </div>
        </Accordion>
        <Accordion acc_id="1" active=false title="Team building">
          <div class="text-left md:w-3/4">
            <p class="">We empower individuals and teams through dynamic,
              results-driven programs that shape transformative leaders.
              Our focus areas include:
            </p>
            <ul class="px-8 list-disc">
              <li>Self-Leadership</li> 
              <li>Team Effectiveness</li>
              <li>Strategic Alignment</li>
              <li>Effective Execution</li>
            </ul>
          </div>
        </Accordion>
        <Accordion acc_id="1" active=false title="Camping">
          <div class="text-left md:w-3/4">
            <p class="">We empower individuals and teams through dynamic,
              results-driven programs that shape transformative leaders.
              Our focus areas include:
            </p>
            <ul class="px-8 list-disc">
              <li>Self-Leadership</li> 
              <li>Team Effectiveness</li>
              <li>Strategic Alignment</li>
              <li>Effective Execution</li>
            </ul>
          </div>
        </Accordion>
      </div>
    </section>
    <section class="sm:p-16 p-8 space-y-4">
      <h2 class="text-2xl">About us</h2>
      <div class="flex flex-col md:flex-row items-start justify-start md:space-x-8 space-y-6 md:space-y-0">
        <div class="space-y-6">
          <p>Fortune Lead Co. is a leading consultancy and training firm passionate about enhancing workplace performance.</p>
          <p>At Fortune Lead, we believe empowered people build stronger organizations.</p>
          <p>We partner with teams and leaders to foster better leadership, safer workplaces, and thriving cultures.</p>
          <p>Through practical, people-centred solutions in leadership, safety, and HR, we deliver impact that lasts.</p>
          <p>With passion, experience, and creativity, we don’t just deliver solutions —we transform.</p>
        </div>
        <div class="sm:w-[480px]">
          <h3 class="text-2xl">Vision</h3>
          <p>To be Kenya’s leading catalyst for people growth.</p>
          <br>
          <h3 class="text-2xl">Core values</h3>
          <ul>
            <li>Excellence</li>
            <li>Integrity</li>
            <li>Innovation</li>
            <li>Safety and Assurance</li>
          </ul>
        </div>
      </div>
      <h3 class="text-2xl">Mission</h3>
      <p>To drive organizational transformation through innovative tailored, and high-impact solutions that exceed expectations.</p>
    </section>
    <section class="sm:px-16 px-8 space-y-6">
      <h2 class="text-2xl">Our Team</h2>
      <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 items-center md:items-start md:space-x-12 xl:justify-center xl:space-x-56 justify-between lg:space-x-24">
        <div class="flex flex-col items-center justify-start space-y-6 sm:w-[500px]">
          <img src="/david.jpeg" alt="Photo" class="md:w-[400px] w-[280px] rounded-full border aspect-square">
          <h3 class="text-2xl font-medium">David Kariuki</h3>
          <p> Human Resource & Leadership Expert | Certified Executive Coach <br> With 20+ years of experience in financial services, technology, and education, David specializes in organization design, culture transformation, talent strategy, and executive coaching. He has worked with leading organizations across East Africa, delivering impactful HR and leadership solutions </p>
        </div>
        <div class="flex flex-col items-center justify-start space-y-6 sm:w-[500px]">
          <img src="/namu.jpeg" alt="Photo" class="md:w-[400px] w-[280px] rounded-full border aspect-square">
          <h3 class="text-2xl font-medium">Richard Namu</h3>
          <p>Occupational Safety & HR Specialist | Certified Fire & Emergency Instructor <br> Richard brings over a decade of expertise in health & safety training, audits, and emergency response. His work spans humanitarian agencies, corporates, schools, and media houses across Africa, supporting organizations to build resilient and safe workplaces.</p>
        </div>
      </div>
    </section>
    <section class="sm:px-16 px-8 py-8">
      <h2 class="text-2xl">Work with us today</h2>
      <div class="space-y-6">
        <div class="flex flex-col sm:flex-row space-y-3 sm:space-x-6 pt-8">
          <input type="email" placeholder="Enter your best email" class="border-2 border-(--primary) px-3 py-2 w-full sm:w-fit">
          <button class="text-white bg-(--primary) px-6 py-3 h-full hover:cursor-pointer">Get Started</button>
        </div>
        <p>You can also contact us on whatsapp: +254 70000000</p>
      </div>
    </section>
  </main>
</Layout>
<script src="/scripts/accordion.js" is:inline></script>
