---
const { title, acc_id, active } = Astro.props
const acc_class = "accordion_" + acc_id
const acc_active = active == "true"
const acc_content = (acc_active ? " acc_active" : "acc_inactive") 
---

<button 
  class={acc_class + " sm:p-4 p-0 py-4 border-b-3 border-black xl:w-2/3 w-full hover:cursor-pointer flex flex-col delay-150"}
>
  <div class="flex flex-row items-center justify-between">
    <h3 class="font-medium text-2xl text-left">{title}</h3>
    <p class="text-4xl sm:block hidden">{acc_active ? "-" : "+"}</p>
  </div>
  <div class={acc_content}>
    <slot />
  </div>
</button>
<style>
@import "tailwindcss";
.acc_active {
  @apply block p-4
}
.acc_inactive {
  @apply hidden
}
</style>
