---
import "../styles/global.css"
import Footer from "../components/Footer.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Fortune Lead</title>
	</head>
  <body class="font-(--font-primary) text-lg">
    <header>
      <nav class="bg-(--primary) text-(--secondary) w-screen flex flex-row items-center justify-center sm:justify-between py-4 px-16">
        <div class="flex flex-row items-center justify-center sm:justify-start md:space-x-12 space-x-4">
          <img src="/logo.svg" alt="" class="md:w-[150px] sm:w-[100px] w-[200px] aspect-auto">
          <a href="" class="hidden sm:block">Home</a>
          <a href="" class="hidden sm:block">About</a>
          <a href="" class="hidden sm:block">Contact us</a>
        </div>
        <a href="" class="bg-(--secondary) px-4 py-3 text-white hidden">Book a call</a>
      </nav>
    </header>
		<slot />
	</body>
  <Footer />
</html>
